body{
	/* pattern used ... made by Irfan iLias  https://subtlepatterns.com/symphony/ */
	background: #FFFFFF url('img/symphony.png') repeat;
}

h1{
	font-family: 'Pacifico', cursive;
	font-variant: small-caps;
	color: brown;
}

h2{
	font-family: 'Bungee Shade', cursive;
	color: #00FF21;
}

h3{
	font-family: 'Oswald', sans-serif;
}

h4{
	font-family: serif;
}

p{
	font-family: Comic sans;
	padding: 0px 10px 0px 10px;
}

header{
	border: 2px solid green;
	width: 100%;
	text-align: center;
	background-color: #99ccff;
	border-radius: 30px 30px 0px 0px;
}

main{
	border: 5px solid yellow;
	width: 100%;
	overflow: both;
}

.LeftMainColumn{
	background: gold;
	border: 2px dash crimson;
	width: 18%;
	position: relative;
	left: 0px;
}

.AboutMe{
	border: 2px dotted black;
	position: absolute;
	text-align: center;
	padding: 5px;
}

.RightMainColumn{
	border: 2px dash orange;
	border-radius: 30px;
	width: 78%;
	position: relative;
	left: 20%;
	padding-left: 15px;
}

.Education{
	border: 3px dotted grey;
	background: lightgrey;
}

.WorkEx{
	border: 3px dotted #f44242;
	background: lightgrey;
}

.Skills{
	border: 3px dotted #343434;
	background: lightgrey;
}

.LinksWork{
	border: 3px dotted #888888;
	background: lightgrey;
}

footer{
	border: 10px solid black;
	background-color: purple;
	width: 98%;
	line-height: 75%;
	text-align: center;
	font-family: ;
}

#PortfolioTags{
	font-family: 'Aclonica', sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #88AAFF;
	width: 100%;
	height: 35px;
	margin: auto;
	text-align: center;
}

#PortfolioTags ul{
	height: auto;
	padding: 8px 0px;
	margin: 0px;
	list-style-type: none;
	align-items: center;
}

#PortfolioTags li{
	color: black;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

.EducationDate{
	font-family: 'Aclonica', sans-serif;
}

.WorkExDate{
	text-decoration: underline;
}
