body{
	/* pattern used ... made by Irfan iLias  https://subtlepatterns.com/symphony/ */
	background: #FFFFFF url('img/symphony.png') repeat;
	width: 1000px;
}

h1{
	font-family: 'Pacifico', cursive;
	font-variant: small-caps;
	color: brown;
}

h2{
	font-family: 'Bungee Shade', cursive;
	color: olive;
}

h3{
	font-family: 'Oswald', sans-serif;
}

h4{
	font-family: serif;
}

p{
	font-family: "Comic Sans MS", cursive, sans-serif;
	padding: 0px 10px 0px 10px;
}

a{
	text-decoration: none;
}

a:link {
	color: blue;
	background-color: white;
	text-decoration: none;
}

a:hover{
	color: purple;
	background-color: black;
}

/** Configure Div widths **/

.full-width{
	width: 100%;
}

.half-width{
	width: 50%;
	float: left;
}

.third-width{
	width: 33%;
	float: left;
	color: orange;
}

/****  Start the Styling for Contect  ****/

/** Header **/

header{
	border: 2px solid green;
	width: 100%;
	text-align: center;
	background-color: #f0f1e2;
	border-radius: 30px 30px 0px 0px;
}

nav{
	font-family: 'Aclonica', sans-serif;
	font-size: 14px;
	font-weight: bold;
	background-color: #e0b2a9;
	width: 100%;
	height: 35px;
	margin: auto;
	text-align: center;
}

nav ul{
	height: auto;
	padding: 8px 0px;
	margin: 0px;
	list-style-type: none;
	align-items: center;
}

nav li{
	color: black;
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
}

/*** Main Body ***/

main{
	border: 5px solid yellow;
	width: 100%;
	overflow: both;
	background: white;
}

.LeftMainColumn{
	background: gold;
	border: 2px dash crimson;
	width: 18%;
	position: relative;
	left: 0px;
}

/*** About Section ***/

.AboutMe{
	border: 2px dotted black;
	position: absolute;
	text-align: center;
	padding: 5px;
}

.RightMainColumn{
	border: 10px dash orange;
	border-image: url("img/cupcake-4-4.png") 10px 10px repeat;
	border-radius: 30px;
	width: 78%;
	position: relative;
	left: 20%;
	padding-left: 15px;
}

/*** Education Section ***/

.Education{
	border: 3px dotted grey;
	background: #e57e93;
}

.EducationEntry{
	border: 1px solid black;
}

.EducationDate{
	font-family: 'Aclonica', sans-serif;
}

/*** Work Section ***/

.WorkEx{
	border: 3px dotted #f44242;
	background: #f1ebc5;
}

.WorkEntry{
	border: 1px solid black;
}

.WorkExDate{
	text-decoration: underline;
}

/*** Skills Section ***/

.Skills{
	border: 3px dotted #343434;
	background: #e57e93;
}

.SkillsEntry{
	border: 1px solid black;
}

/*** Links Section ***/

.LinksWork{
	border: 3px dotted #888888;
	background: #f1ebc5;
}

/*** Footer ***/

footer{
	border: 10px solid black;
	background-color: #83675f;
	width: 100%;
	height: 125px;
	text-align: left;
	margin: 0px;
}

footer p{
	line-height: 125%;
	font-size: 14px;
	font-weight: bolder;
	color: white;
}
